extends layout

block scripts
    script(type='text/javascript', src='vendor/requirejs/require.js')
    script(type='text/javascript', src='require-init.js')

    script(type='text/javascript', src='app/app.js')
