<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">MTGStats</a>
    </div>    
  </div>
</nav>

<div id="content">
<div class="container-fluid">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Match Statistics</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-4">
                    <div id="matchStats1"></div>
                </div>
                <div class="col-md-4">
                    <div id="matchStats2"></div>
                </div>
                <div class="col-md-4">
                    <div id="matchStats3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Format Statistics</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-4">
                    <div id="formatStats1"></div>
                </div>
                <div class="col-md-4">
                    <div id="formatStats2"></div>
                </div>
                <div class="col-md-4">
                    <div id="formatStats3"></div>
                </div>
                <div class="col-md-4">
                    <div id="formatStats4"></div>
                </div>
                <div class="col-md-4">
                    <div id="formatStats5"></div>
                </div>
                <div class="col-md-4">
                    <div id="formatStats6"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
