<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">MTGStats</a>
    </div>    
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div id="overallRecord"></div>
        </div>
        <div class="col-md-4">
            <div id="winsDraws"></div>
        </div>
        <div class="col-md-4">
            <div id="winsDrawsByes"></div>
        </div>
        
    </div>
</div>
