<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">MTGStats</a>
    </div>    
  </div>
</nav>

<div id="content">
<div class="container-fluid">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Overall Match Statistics</h3>
            </div>
            <div id="matchStatsContainer" class="panel-body">
                <!-- Match stats charts generated here -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Format Statistics</h3>
            </div>
            <div id="formatStatsContainer" class="panel-body">
                <!-- Format stats charts generated here -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Opponent Statistics</h3>
            </div>
            <div id="opponentStatsContainer" class="panel-body">
                <!-- Opponent stats charts generated here -->
            </div>
        </div>
    </div>
</div>
</div>
